    {% extends 'layout.html' %}

{% block body %}
    <h1>View Problems</h1>
    <br/>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Type Of Problems</th>
            <th>Description</th>
            <th>Location</th>
            <th>Date</th>
            <th>Status</th>
            <th>Blacklist</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for problem in problems %}


            <tr>

                <td>{{problem.get_name()}}</td>

                <td>{{ problem.get_problem() }}</td>

                <td>{{ problem.get_description() }}</td>

                <td>{{ problem.get_location() }}</td>

                <td>{{ problem.get_date() }}</td>

                <td>{{ problem.get_status() }}</td>

                <td><form action="{{ url_for('blacklist') }}" method="post">
                 <input class="danger" type="submit" value="Report">
                        </form></td>

                 <td><form action="{{ url_for('comment') }}" method="post">
                 <input class="danger" type="submit" value="Comment">
                        </form></td>

                <td><form action="{{ url_for('delete', id = problem.get_problem()) }}" method="post">
                 <input class="danger" type="submit" value="Delete">
                        </form></td>




        {% endfor %}
            </tr>
        </tbody>
    </table>
    <a href="Adminhomepage">Back</a>
{% endblock %}